<html>
    <body>
        <section class="TodoSection">

            <div class="TodoSection-title">
                <p class="TodoSection-titleText"><%= section_title %></p>
                <p class="TodoSection-titleRemainingCount"><%= todos.completed.count %> / <%= todos.count %></p>
            </div>

            <ul>
                <% todos.all.each do |todo| %>
                    <li class="TodoItem">
                        <label class="TodoItem-container">
                            <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
                                <%= check_box_tag(:completed,
                                                  nil,
                                                  todo.completed ? true : false,
                                                  class: "TodoItem-checkbox",
                                                  onclick: "this.form.submit()") %>
                            <% end %>
                            <p class="TodoItem-text<%= todo.completed ? "Completed" : "" %>">
                                <%= todo.todo_text %>
                            </p>
                            <% if show_due_date %>
                                <p class="TodoItem-dueDate">
                                    <%= todo.due_date.to_s(:short) %>
                                </p>
                            <% end %>
                            <a class="TodoItem-delete" href="javascript:void(0)">
                                <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
                                    <%= image_submit_tag("delete.png", options = {}) %>
                                <% end %>
                            </a>
                            <a  href="javascript:void(0)">
                                <%= link_to "Generate PDF", todo_path(todo.id, format: "pdf"),class: "TodoItem-delete" %>
                            </a>
                        </label>
                    </li>
                <% end %>
            </ul>

        </section>
    </body>
</html>