<h1> Sign-In here :  </h1>

<%= form_with url: sessions_path, method: "post" do |form| %> 
    <p>Email-ID   : <%= form.email_field :email, required: true  %> </p>
    <p>Password   : <%= form.password_field :password, required: true  %> </p>
    <p><%= flash[:error] %></p>
    <p><%= form.submit :"Sign In--=>"%> </p>
<% end %>