<!DOCTYPE html>
<html>
  <head>
    <title>GasSubsCalcApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
      <p>
        Welcome <%= @current_user.first_name %>
        <%= link_to "Sign-out", session_path, method: "delete" %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
